.form-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 510px;
    width: 100%;
    background-color: $white;
    border-radius: $radius;
    padding: 40px 0 60px;
    &__title {
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .form {
      max-width: 334px;
      margin: 0 auto;
      &__fields {
        margin-bottom: 16px;
      }
      .form-field {
        position: relative;
        padding-bottom: 24px;
      }
      .form-field--row {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
            transform: scale(1.5);
            margin-left: 6px;
            margin-right: 12px;
        }
      }
      &__label {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        padding-left: 6px;
        color: $gray;
      }
      &__input {
        display: block;
        width: 100%;
        height: 48px;
        padding: 12px 15px;
        font-size: 20px;
        line-height: 24px;
        border-color: $gray;
        border-style: solid;
        border-width: 1px;
        border-radius: $radius;
        color: $dark;
        &:focus {
          border-color: $blue;
        }
      }
      &__error {
        display: block;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        font-size: 14px;
        line-height: 24px;
      }
      &__btn {
        min-width: 176px;
        border-radius: $radius;
        border-color: $blue;
        border-style: solid;
        border-width: 1px;
        background-color: $cian;
        color: $blue;
        &:hover {
          background-color: $blue;
          color: $white;
        }
        &:disabled {
          background-color: transparent;
          color: $dark;
          border-color: $dark;
          pointer-events: none;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .form-wrapper {
      max-width: 90%;
      .form {
        max-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }